[[source]]
name = "dreambox"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pylint = "*"

[packages]
gunicorn = "*"
numpy = "*"
redis = "*"
scipy = "*"
Flask = "*"
Pillow = "*"

[requires]
python_version = "3.7"
