name: Deploy

on:
  push:
    tags:
      - '*'

env:
  GKE_PROJECT: ${{ secrets.GKE_PROJECT }}
  GKE_ZONE: ${{ secrets.GKE_ZONE }}
  GKE_CLUSTER: dreambox

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish and Deploy.
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Extract release version from tag
      run: echo ::set-env name=RELEASE_VERSION::$(echo ${GITHUB_REF:10})

    - name: Setup Google Cloud Platform credentials
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '270.0.0'
        service_account_email: ${{ secrets.GKE_EMAIL }}
        service_account_key: ${{ secrets.GKE_KEY }}

    - name: Configure docker to use gcloud command-line tool as a credential helper
      run: gcloud auth configure-docker

    - name: Build backend
      run: docker-compose build backend

    - name: Push backend container
      run: |
        docker tag dreambox_backend gcr.io/"$GKE_PROJECT"/backend:${{ env.RELEASE_VERSION }}
        docker push gcr.io/$GKE_PROJECT/backend:${{ env.RELEASE_VERSION }}

    - name: Set up Kustomize
      run: |
        curl -o deploy/kustomize --location https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64
        chmod u+x ./deploy/kustomize

    - name: Deploy
      run: |
        gcloud container clusters get-credentials $GKE_CLUSTER --zone $GKE_ZONE --project $GKE_PROJECT
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 > get_helm.sh
        chmod 700 get_helm.sh
        ./get_helm.sh
        helm upgrade --install dreambox deploy/dreambox --set backendImage=gcr.io/dreambox-"$GKE_PROJECT"/backend:${{ env.RELEASE_VERSION }}
        kubectl rollout status deployment/backend
        kubectl get services -o wide
