name: Deploy

on:
  push:
    tags:
      - '*'

env:
  GKE_PROJECT: ${{ secrets.GKE_PROJECT }}
  GKE_ZONE: ${{ secrets.GKE_ZONE }}
  GKE_CLUSTER: dreamdrugs
  CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }}
  CLOUDFLARE_GLOBAL_API_KEY: ${{ secrets.CLOUDFLARE_GLOBAL_API_KEY }}

jobs:
  setup-build-publish-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Extract release version from tag
      run: echo "RELEASE_VERSION=${{ github.head_ref }}" >> $GITHUB_ENV

    - name: Debug release version
      run: echo ${{ env.RELEASE_VERSION }}

    - id: auth
      name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GOOGLE_CREDENTIALS_JSON }}

    # Install gcloud, `setup-gcloud` automatically picks up authentication from `auth`.
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1

    - name: Login to GCR
      uses: docker/login-action@v2
      with:
        registry: gcr.io
        username: oauth2accesstoken
        password: ${{ steps.auth.outputs.access_token }}

    - name: Build backend
      run: |
        docker \
          build \
          -t gcr.io/"$GKE_PROJECT"/backend:"$RELEASE_VERSION" \
          -t gcr.io/"$GKE_PROJECT"/backend:"$GITHUB_SHA" \
          ./backend

    - name: Build frontend
      run: |
        docker \
          build \
          -t gcr.io/"$GKE_PROJECT"/frontend:"$RELEASE_VERSION" \
          -t gcr.io/"$GKE_PROJECT"/frontend:"$GITHUB_SHA" \
          ./frontend

    - name: Push backend container
      run: |
        docker push gcr.io/$GKE_PROJECT/backend:"$RELEASE_VERSION"
        docker push gcr.io/"$GKE_PROJECT"/backend:"$GITHUB_SHA"

    - name: Push frontend container
      run: |
        docker push gcr.io/$GKE_PROJECT/frontend:"$RELEASE_VERSION"
        docker push gcr.io/"$GKE_PROJECT"/frontend:"$GITHUB_SHA"

    - name: Set up Helm
      run: |
        curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 > get_helm.sh
        chmod 700 get_helm.sh
        ./get_helm.sh

        echo Adding stable repository.
        helm repo add stable https://kubernetes-charts.storage.googleapis.com/

    - name: Install dependant charts
      run: helm dependency update deploy/dreamdrugs

    - name: Deploy
      run: |
        gcloud container clusters \
          get-credentials $GKE_CLUSTER \
          --zone $GKE_ZONE \
          --project $GKE_PROJECT

        sed -i 's/version: .*/version: '"$RELEASE_VERSION"'/' deploy/dreamdrugs/Chart.yaml
        sed -i 's/appVersion: .*/appVersion: '"$RELEASE_VERSION"'/' deploy/dreamdrugs/Chart.yaml

        echo Deploying it all to GKE.
        helm upgrade --install dreamdrugs deploy/dreamdrugs \
          --set backendImage=gcr.io/"$GKE_PROJECT"/backend:"$GITHUB_SHA" \
          --set frontendImage=gcr.io/"$GKE_PROJECT"/frontend:"$GITHUB_SHA" \
          --set redis.master.persistence.enabled=false \
          --set redis.slave.persistence.enabled=false \
          --set redis.password=$REDIS_PASSWORD \
          --set cloudflare.email=$CLOUDFLARE_EMAIL \
          --set cloudflare.globalApiKey=$CLOUDFLARE_GLOBAL_API_KEY
